.main--content{
    height: 100vh;
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
}

.main--content .container{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 5px;
}

.main--content .container .section-1{
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;    
  text-align: center !important;
  width: 500px;
}

.section-1 img{
    margin: 0 0 24px;
}

.section-1 p{
    margin-top: 0;
    margin-bottom: 32px;
}

.section-1 h1{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}

.section-2{
    width: 500px;
}

.sect-2-part1 label{
    margin-bottom:6px;
}

.sect-2-part1 input{
    margin-top: 6px;
    width: 100%;
    display: block;
    height:40px;
    padding: 6px 12px;
    border-radius: 3px;
    outline: none;
    border:1px solid #767676;
    margin-bottom: 24px;
}

.sec-2-part2 input{
    width: 100%;
    display: block;
    height:40px;
    padding: 15px 18px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #111;
    cursor: pointer;
    line-height:0;
}