*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 14px;
}


.global{
  padding-inline :20px
}

.App{
  min-height: 100%;
}

@keyframes loader {
  0% {
      transform: translateX(-100%);
  }
  50% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(100%);
  }
}


.loader{
  animation: loader 1.5s cubic-bezier(.2,.5,.4,.7) infinite;
  animation-delay: .1s;
  background: linear-gradient(45deg, #ffffffb3, #ffffff80 25%, #00000080 50%, #000000b3 75%, #ffffff80);;
  height: 2px;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: all .3s ease-in-out 0s;
  width: 100%;
  z-index: 7;
}